In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from grab_db import my_db
from pydataset import data

#### For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

### 1 Has the network latency gone up since we switched internet service providers?

Hnull - Network latency is the same between both internet service providers. <br>
Halt - The network latency has gone up since we switched internet service providers.

TP : we concluded network latency went up and it did <br>
TN: We concluded network latency did not go up and it did not

type 1 error: We reject the null but it is true <br>
type 2 error: we failed to reject the null when it was not true

### 2 Is the website redesign any good?

Hnull - the website design has not increased clicks. <br>
Halt - the website design is better now and has increased clicks.

TP: we concluded website design is better now and it is <br>
TN: We conluded website design is not better and it isnt

type 1 error: we reject the null but it is true <br>
type 2 error: we failed to reject the null when it was true

### 3 Is our television ad driving more sales?

Hnull - the television ad has had no impact on driving more sales. <br>
Halt - The television ad has increased sales.

TP: we concluded the ad increased sales and it did <br>
TN:we concluded ad had no impact on sales and it did not

type 1 error: we reject the null but it is true <br>
type 2 error: we failed to reject the null when it was true.

## T-TEST:

#### Answer with the type of test you would use (assume normal distribution):

##### Is there a difference in grades of students on the second floor compared to grades of all students?

- 1 sample T-test

##### Are adults who drink milk taller than adults who dont drink milk?

- independent 1 tail 2 sample T-test

##### Is the the price of gas higher in texas or in new mexico?

- independent 1 tail 2 sample T-test

##### Are there differences in stress levels between students who take data science vs students who take web development vs students who take cloud academy?

 - Anova test

##### Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

 - 2 sample T-test
 - Hnull - average time to sell homes is the same between office 1 and 2 <br>
 - Halt - average time to sell homes is different between office 1 and 2

In [23]:
of_1 = np.random.normal(90,15,40)
of_2 = np.random.normal(100,20,50)
t, p = stats.ttest_ind(of_1, of_2)

TEST VARIANCE:

In [20]:
stat, p_val = stats.levene(of_1, of_2)

In [28]:
if p_val < .05:
    print('reject null')
else:
    print('we fail to reject the null')

we fail to reject the null

according to levene test variance is equal.

In [24]:
t, p = stats.ttest_ind(of_1, of_2)

In [27]:
if p < .05:
    print('reject null')
else:
    print('We fail to reject the null')

We fail to reject the null

This indicates that the average time to sell homes is the same between office 1 and office 2

#### Load the mpg dataset and use it to answer the following questions:

In [30]:
mpg = data('mpg')

##### Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

 - 2 sample 2 tail T-test <br>
 - Hnull - there is no difference in fuel efficiency in cars from 2008 and 1999
 - Halt - there is a difference in fuel efficiency in cars from 2008 and 1999

In [33]:
mpg['FE'] =(mpg.cty + mpg.hwy)/2

In [36]:
fe_2008 = mpg.FE[mpg.year == 2008]

In [37]:
fe_1999 = mpg.FE[mpg.year == 1999]

TEST VARIANCE

In [39]:
stat, p_val = stats.levene(fe_2008, fe_1999)

In [40]:
if p_val < .05:
    print('we reject the null')
else:
    print('we fail to reject null')

we fail to reject null

According to levene test variance is equal.

In [ ]:
t, p = stats.ttest_ind(fe_1999,fe_2008)

In [41]:
if p < .05:
    print('we reject the null')
else:
    print('we fail to reject null')

we fail to reject null

Since we failed to reject null we can conclude that there is no significant difference in fuel efficiency between 1999 and 2008 vehicles.

#### Are compact cars more fuel-efficient than the average car?

 - 1 sample ttest <br>
 - Hnull - compact cars are equally efficient to the average car.<br>
 - Halt - compact cars have a different efficiency than the average car.

In [47]:
compact_FE = mpg.FE[mpg['class'] == 'compact']
FE = mpg.FE

TEST VARIANCE

In [ ]:
stat, p_val = stats.levene(compact_FE, fe_1999)

In [35]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,FE
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5