In [2]:
%matplotlib inline
import numpy as np
import pandas as pd

### How likely is it that you roll doubles when rolling two dice?

In [5]:
trials = 10000
dice = 2
rolls = np.random.choice([1, 2, 3, 4, 5, 6],trials * dice).reshape(trials,dice)
rolls

array([[3, 6],
       [1, 1],
       [2, 3],
       ...,
       [5, 1],
       [6, 2],
       [2, 2]])

In [6]:
dubs = 0

In [7]:
for x in rolls:
    if x[0] == x[1]:
        dubs += 1

In [11]:
chance_of_dubs = (dubs / trials) * 100
chance_of_dubs

16.18

### If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [12]:
trials = 10000
coins = 8
flips = np.random.choice(['H','T'],trials * coins).reshape(trials,coins)
flips

array([['T', 'T', 'H', ..., 'H', 'H', 'T'],
       ['H', 'T', 'T', ..., 'T', 'T', 'H'],
       ['H', 'H', 'H', ..., 'H', 'H', 'T'],
       ...,
       ['H', 'H', 'H', ..., 'T', 'T', 'H'],
       ['H', 'H', 'T', ..., 'H', 'T', 'T'],
       ['H', 'T', 'T', ..., 'T', 'H', 'H']], dtype='<U1')

In [13]:
exactly_3 = 0

In [22]:
for x in flips:
    num_of_H = 0
    for i in x:
        if i == 'H':
            num_of_H += 1
    if num_of_H == 3:
        exactly_3 += 1
exactly_3

2208

##### Exaclty 3 Heads:

In [25]:
prob_of_3 = (exactly_3 / trials) * 100 
prob_of_3

22.08

In [26]:
more_than_3 = 0

In [27]:
for x in flips:
    num_of_H = 0
    for i in x:
        if i == 'H':
            num_of_H += 1
    if num_of_H > 3:
        more_than_3 += 1
more_than_3

6341

##### More than 3 Heads:

In [29]:
prob_of_more_than_3 = (more_than_3 / trials) * 100
prob_of_more_than_3

63.41

### There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [33]:
trials = 10000
billboards = 2
passed = np.random.choice(['W','W','W','D'], trials * billboards).reshape(trials,billboards)
passed
success = 0

In [34]:
for x in passed:
    if x[0] == 'D' and x[1] == 'D':
        success += 1
success

615

In [35]:
prob_of_both_D = (success / trials) * 100 
prob_of_both_D

6.15

### Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal) You'll need to make a judgement call on how to handle some of your values

In [45]:
poptarts = np.random.normal(3,1.5,50000).reshape(10000,5)
poptarts
can_buy = 0

In [47]:
for x in poptarts:
    if sum(x) <= 16:
        can_buy += 1
can_buy

6211

In [48]:
prob_of_can_buy = (can_buy / 10000) * 100
prob_of_can_buy

62.11

### Compare Heights

Men have an average height of 178 cm and standard deviation of 8cm.
Women have a mean of 170, sd = 6cm.
Since you have means and standard deviations, you can use np.random.normal to generate observations.
If a man and woman are chosen at random, what is the likelihood the woman is taller than the man?

In [49]:
M_height = np.random.normal(178,8,10000)
W_height = np.random.normal(170,6,10000)
newdf = pd.DataFrame([M_height, W_height])

In [63]:
newdf = newdf.transpose()
newdf

               0           1
0     168.664830  171.713595
1     172.830933  169.764640
2     188.963480  164.912632
3     189.883806  160.729626
4     189.103498  167.637499
...          ...         ...
9995  170.079637  170.509173
9996  185.113033  169.301738
9997  173.342294  160.557001
9998  181.388169  168.128400
9999  180.095740  167.912309

[10000 rows x 2 columns]

In [74]:
w_taller = round(len(newdf[newdf[1] > newdf[0]]) / 10000, 2) * 100

In [75]:
w_taller

21.0

### When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students? What is the probability that we observe an installation issue within the first 150 students that download anaconda?How likely is it that 450 students all download anaconda without an issue?

In [87]:
outcomes = ['S','F']
trials = 10000
students = 50
f_count = 0
downloads = np.random.choice(outcomes, size = (trials,students), p = [249/250, 1/250])
for x in downloads:
    if 'F' in x:
        f_count += 1
f_count

1812

##### 50 Students:

In [96]:
successes = trials - f_count
Prob_of_no_F = (successes / trials) * 100
Prob_of_no_F

81.88

##### 100 Students:

In [98]:
newstudents = 100
f_count = 0
newdownloads = np.random.choice(outcomes,size = (trials,newstudents), p = [249/250, 1/250])
for x in newdownloads:
    if 'F' in x:
        f_count += 1
f_count

3309

In [101]:
newsuccesses = trials - f_count
newProb_of_no_F = (newsuccesses / trials) * 100 
newProb_of_no_F

66.91

##### Probability we observe error in 150 downloads:

In [102]:
stud = 150
f_count = 0 
download = np.random.choice(outcomes, size =(trials,stud),p = [249/250, 1/250])
for x in download:
    if 'F' in x:
        f_count += 1
f_count

4501

In [104]:
prob_of_error = (f_count/trials) * 100
prob_of_error

45.01

##### How likely is it that 450 students all download anaconda without an issue?

In [108]:
stude= 450
f_count = 0
down = np.random.choice(outcomes, size = (trials,stude), p = [249/250,1/250])
for x in down:
    if 'F' in x:
        f_count += 1
f_count

8373

In [109]:
s_count = trials - f_count

success_prob = (s_count / trials) * 100

success_prob

16.27

### There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this? How likely is it that a food truck will show up sometime this week?

In [114]:
poss = ['Y','N']
trials = 10000
days = 3
count = 0
look = np.random.choice(poss, size = (trials,days), p = [7/10, 3/10])
for x in look:
    if 'Y' not in x:
        count += 1
prob_of_no_truck = (count / trials) * 100
prob_of_no_truck

2.5100000000000002

In [120]:
poss = ['Y','N']
trials = 10000
days = 5
count = 0
look = np.random.choice(poss, size = (trials,days), p = [7/10, 3/10])
for x in look:
    if 'Y' in x:
        count += 1
prob_of_truck = (count / trials) * 100
prob_of_truck

99.83999999999999

### If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

In [151]:
ppl = 23
out = range(0,365)
bdays = np.random.choice(out,size = (trials,ppl))
count = 0

In [152]:
bdays

array([[349,  72,  28, ...,  55, 157, 259],
       [253, 340, 178, ..., 206, 142, 133],
       [120, 359, 235, ..., 115, 252,  29],
       ...,
       [262, 283,  14, ...,  99, 312, 147],
       [318,  92, 108, ..., 348,  38,  25],
       [344, 108, 336, ..., 114, 240, 132]])

In [153]:
for x in bdays:
    if len(x) != len(set(x)):
        count += 1
count

5051

##### 23:

In [154]:
prob_share = (count / trials) * 100
prob_share

50.51

##### What if 20:

In [156]:
ppl = 20
out = range(0,365)
bdays = np.random.choice(out,size = (trials,ppl))
count = 0

In [157]:
for x in bdays:
    if len(x) != len(set(x)):
        count += 1
count

4108

In [158]:
newProb = (count / trials) * 100 
newProb

41.08

##### What if 40:

In [159]:
ppl = 40
out = range(0,365)
bdays = np.random.choice(out,size = (trials,ppl))
count = 0

In [160]:
for x in bdays:
    if len(x) != len(set(x)):
        count += 1
count

8921

In [161]:
newerProb = (count / trials) * 100 
newerProb

89.21